{% extends "layout.html" %}

{% block body %}
<br><br><br>

<div class="container h-100">
  <div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-sm-8">
      <div class="card chat-box shadow">
        <div class="card-header bg-primary text-white">
          Weather Forecast Chatbot
        </div>

        <div class="card-body p-3 overflow-auto" id="chat-messages" style="height: 400px;">
          <!-- Messages will be dynamically inserted here -->
        </div>

        <div class="card-footer chat-input bg-light">
            <form action="/handle_data" method="post">
            <div class="input-group">
                <input type="text" id="chat-input" class="form-control border-0 rounded-pill pl-3" placeholder="Ask me about the weather...">
                <div class="input-group-append" style="margin-left: 10px">
                <button type="submit" id="send-button" class="btn btn-primary rounded-pill">Send</button>
                </div>
            </div>
            </form>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
